.contenedor {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 50px;
    
}

.carta {
    background-color: #b4cff6;
    border-radius: 10px;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px; 
}

.contenedor-cartas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}    

.carta {
    width: calc(25% - 20px);
    overflow: hidden;
}

.carta img {
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    margin-top: 20px;
}

.contenido-carta {
    padding: 20px;
}

